@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #141538;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  position: relative;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

a {
  font-weight: 500;
  color: #ededef;
  text-decoration: none;
}

li a:hover {
  color: #ecc259e7;
}

li a.active {
  color: #fab814;
  border-bottom: 1px solid #fab814;
}

header,
footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 1.5rem;
  color: black;
  background-color: #fab814;
  margin: auto 0;
  width: 100%;
  height: 45px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

header {
  background-color: #141538;
  color: rgba(255, 255, 255, 0.87);
  height: 110px;
  margin-bottom: 5rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

body {
  margin: 0;
  place-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

main {
  padding: 7rem 0;
  min-height: calc(100vh - 180px);
  display: flex;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.1;
  margin-top: 2rem;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 600;
}

nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 1.1rem;
  padding: 1rem 0.5rem;
  margin: 1rem;
}

.bear {
  border: none;
  height: 25rem;
  width: 25rem;
  margin-top: 1rem;
}

.welcometext {
  font-size: 2em;
  font-weight: 800;
}

.welcometextp {
  margin: 1rem 0 1.2rem;
}

.about {
  text-decoration: none;
  margin: 1rem;
  font-size: 0.9rem;
  color: #131540;
  font-weight: 600;
  background: #fab814;
  padding: 0.7rem;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 2px rgba(149, 149, 136, 0.807);
}

.about:hover {
  text-decoration: underline;
}

.searchwrap {
  background: #131540;
  color: white;
  margin-top: 2rem;
  padding: 0.8rem;
  width: 450px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(107, 107, 97, 0.807);
}

input,
.message {
  margin: 1rem;
  border: none;
  width: 220px;
  font-family: inherit;
  padding: 0.5rem;
  background: white;
  color: #141538;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 2px solid #9c9dd8eb;
}

::placeholder {
  font-family: inherit;
  font-size: 0.8rem;
  color: #141538c0;
}

.signup {
  padding: 0.7rem;
  background-color: #fab814;
  color: #141538;
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(77, 76, 49, 0.807);
}

.signup:hover {
  text-decoration: underline;
  color: #141538;
}

.signup.active {
  text-decoration: underline;
  color: #141538;
}

.abouttext {
  margin: 2rem 12rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.card {
  color: white;
  width: 850px;
  height: auto;
  background-color: #DCECFF;
  margin: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 2px rgba(152, 138, 148, 0.712);
  filter: saturate(80%);
  position: relative;
}

.card:hover {
  filter: none;
  cursor: pointer;
}

.closebtn {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  border: none;
  border-radius: 5px;
  font-weight: 800;
  background: #fab814;
  color: #141538;
  font-family: inherit;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 1px rgba(133, 112, 69, 0.807);
}

.closebtn:hover {
  background-color: #141538;
  color: #fab814;
}

.eventimg {
  max-height: 300px;
  width: auto;
  border-radius: 3px;
}

.eventtext-wrap {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 0.5rem 4rem;
  margin-top: 0.4rem;
}

.eventheader {
  margin: 0.7rem;
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: 800;
  background: white;
  color: #131540;
  border-radius: 10px;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px 1px #8284a5cf;
}

.eventtext {
  margin: 0.3rem 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.starttime {
  font-size: 0.9rem;
  font-weight: 700;
}

.placestext {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

/* PlacesCard CSS */
.placesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.placesCard {
  width: 850px;
  height: 450px;
  overflow: hidden;
  position: relative;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid white;
  margin: 6px;
  cursor: pointer;
}

.bar:hover {
  background: white;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 1.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placesCard .slide .image-date {
  position: absolute;
  top: 0;
  padding: 15px 30px;
  background: rgba(0, 0, 0, 0.2);
}

.image-date h2 {
  font-size: 25px;
  color: white;
}

#r1:checked~.s1 {
  margin-left: 0;
}

#r2:checked~.s1 {
  margin-left: -20%;
}

#r3:checked~.s1 {
  margin-left: -40%;
}

#r4:checked~.s1 {
  margin-left: -60%;
}

#r5:checked~.s1 {
  margin-left: -80%;
}

.topBtn {
  position: fixed;
  bottom: 50px;
  z-index: 998;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  right: 50px;
  background-color: #141538;
  box-shadow: 1px 1px 2px rgba(133, 112, 69, 0.807);
  font-family: inherit;
  color: #fab814;
  font-size: 20px;
  padding: 15px 40px;

}

.topBtn:hover {
  background-color: #fab814;
  color: #141538;
}

.footertext {
  font-size: 0.8rem;
}