* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Bodoni Moda', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #141538;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  font-weight: 500;
  color: #ededef;
  text-decoration: none;
}

a:hover {
  color: rgb(230, 226, 191);
}

a.active {
  color: rgb(234, 227, 169);
  border-bottom: 1px solid rgb(234, 227, 169);
}

header,
footer {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

footer {
  /*position: absolute;*/
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  background-color: rgb(228, 217, 131);
}

header {
  background-color: #141538;
  color: rgba(255, 255, 255, 0.87);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-bottom: 5rem;
  justify-content: space-between;
}

body {
  place-items: center;
  position: relative;
  min-width: 320px;
  min-height: 100vh;
}

main {
  padding: 7rem;
  min-height: calc(100vh - 180px);
}

h1 {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-weight: 600;
  text-transform: uppercase;
}

nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 1.2em;
  padding: 1rem;
  margin: 1rem;
}

input {
  margin-top: 2rem;
  border: none;
  width: 180px;
  font-family: inherit;
  padding: 0.3rem;
  background: rgb(223, 219, 219);
  color: #141538;
  border-radius: 2px;
}

::placeholder {
  font-family: inherit;
  font-size: 0.8rem;
  color: #141538c0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.card {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: #7180a5;
  border-radius: 3px;
  box-shadow: 1.5px 1.5px 3px rgba(39, 35, 38, 0.807);
  padding: 2rem;
  margin: 1.5rem;
  position: relative;
  filter: saturate(80%);
}

.card:hover {
  filter: none;
  cursor: pointer;
}

.morebtn {
  border: none;
  border-radius: 5px;
  background: #141538;
  color: white;
  font-family: inherit;
  padding: 0.6rem;
  position: absolute;
  bottom: 1rem;
  cursor: pointer;
}

.morebtn:hover {
  text-decoration: underline;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */

